<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Eccoshop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Giày</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/categories/1">Sneaker</a>
            <a class="dropdown-item" href="/categories/2">Giày Lười</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dép</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/categories/3">Dép Cross</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tài Khoản</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <% if(!UserId) { %>
                <a class="dropdown-item" href="/login">Đăng Nhập</a>
                <a class="dropdown-item" href="/register">Đăng Ký</a>
                <% } else { %>
                <a class="dropdown-item" href="/logout">Đăng Xuất</a>
                <% } %>
            </div>
          </li>
          <% if(UserId) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đơn Hàng</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/order/<%= UserId %>">Đang Chờ</a>
                <a class="dropdown-item" href="/orderShip/<%= UserId %>">Đang Vận Chuyển</a>
                <a class="dropdown-item" href="/orderComplete/<%= UserId %>">Đã Hoàn Thành</a>
                <a class="dropdown-item" href="/orderCancel/<%= UserId %>">Đã Hủy</a>
            </div>
          </li>
          <% } %>
          <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span style="font-size: 16px;" class="icon-shopping_cart"></span><%= cart.length %></a></li>
        </ul>
      </div>
    </div>
  </nav>